@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.Id)

  @Html.Label("Machine License For")<span>  :  </span>
  @Html.DropDownList("MachineId")

  <input type="submit" value="Save" class="htmlButton" />
}

<hr/>
<div class="rightBtn">
  @Html.ActionLink("Back to " + @Model.Name, "Details", "Engineer", new { id = @Model.Id }, new { @class="htmlButton" })
</div>