@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

@if(Model.JoinEntities.Count == 0)
{
  <h6>@Model.JoinEntities.Count Engineers are licensed for @Model.Model</h6> 
}
else
{
  <h6>@Model.JoinEntities.Count Engineers are licensed for @Model.Model</h6>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{join.Engineer.Name}", "Details", "Engineer", new { id = join.Engineer.Id})</li>
      @using (Html.BeginForm("DeleteEngineer", "Machine"))
      {
        @Html.Hidden("joinId", @join.Id)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}
<br>
<br>
<p>Date Manufactured: @Model.DateManufactured.ToShortDateString()</p>
<hr>
<br>
<div class="centerBtn">
  @Html.ActionLink("Add License", "AddEngineer", "Machine", new{ id = Model.Id}, new { @class="htmlButton"}) 
  @Html.ActionLink("Edit " + $"{Model.Model}", "Edit", "Machine", new { id = Model.Id }, new { @class="htmlButton"})
  @Html.ActionLink("Delete " + $"{Model.Model}", "Delete", "Machine", new { id = Model.Id }, new { @class="htmlButton"})
</div>
